body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.formulario {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #6c6a6a;
}

button {
    width: 60%;
    padding: 15px;
    border: solid;
    border-radius: 30px;
    align-items: center;
    margin: 20px;
}

/* Estilos para alto contraste */
.alto-contraste {
    background-color: black;
}

.alto-contraste h2{
    color: orange;
}

.alto-contraste label{
    color: white;
}

.alto-contraste input[type="text"],
.alto-contraste input[type="email"],
.alto-contraste input[type="date"],
.alto-contraste select {
    background-color: black;
    color: white;
    border-color: white;
}
